<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Login</strong>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" />
                <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="alert alert-danger">
                  <div [hidden]="!loginForm.controls['email'].errors.required">Email is required.</div>
                  <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" />
                <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="alert alert-danger">
                  <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success btn-sm">
                  Log In
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="/register">Register</a>
              </div>
            </div>
            <br />
            <div *ngIf="error" class="alert alert-danger" role="alert">
              <strong>Oops!</strong> {{error}}
              <br />
              <a class ="link-confirmEmail" *ngIf="showLinkConfirmEmail" [routerLink]="['/verifyemail-generatelink', loginForm.controls['email'].value]">Generate new email to confirm your account</a>
            </div>
            <div>
              <a href="/resetpassword-generatelink">Don't remember your password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
