<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Reset password</strong>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <div formGroupName="passwords" class="col-sm-9">
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" />
                <div *ngIf="resetPasswordForm.get('passwords').get('password').errors && !resetPasswordForm.get('passwords').get('password').pristine" class="alert alert-danger">
                  <div [hidden]="!resetPasswordForm.get('passwords').get('password').errors.required">Password is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div formGroupName="passwords" class="col-sm-9">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword" />
                <div *ngIf="resetPasswordForm.get('passwords').get('confirmPassword').errors && !resetPasswordForm.get('passwords').get('confirmPassword').pristine" class="alert alert-danger">
                  <div [hidden]="!resetPasswordForm.get('passwords').get('confirmPassword').errors.required">Confirm password is required.</div>
                </div>
                <div *ngIf="resetPasswordForm.get('passwords').errors" class="alert alert-danger">
                  <div [hidden]="!resetPasswordForm.get('passwords').errors?.mismatch">mismatch password.</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-success btn-sm">
                  Register
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </div>
            <br />
            <div *ngIf="error" class="alert alert-danger" role="alert">
              <strong>Oops!</strong> {{error}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
